body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f9;
}

header {
    background: url('https://img.freepik.com/free-vector/beige-leafy-watercolor-background-vector_53876-136491.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1722369600&semt=ais_hybrid') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(74, 73, 73);
    font-family: cursive;
    font-style: italic;
    text-align: center;
    transition: all 0.5s ease;
}

.header-content h1 {
    font-size: 50px;
    margin: 0;
}

.header-content p {
    font-size: 1.5em;
    margin: 10px 0 0;
}

button{
    padding: 10px;
    background-color: #e9dcdc;
    margin-top: 30px;
    border: 2px solid rgb(189, 177, 177);
    border-radius: 10%;
    transition: transform 0.5s ease;
}

button:hover{
    background-color: #f3d4d4;
    border: solid 2px rgb(165, 156, 156);
    transform: scale(1.1);
}

button a{
    font-size: 15px;
    text-decoration: none;
    color: rgb(77, 76, 76) ;
    font-family: cursive;
}

p{
    font-size: 25px;
    font-family: cursive;
}

h2{
    font-size: 45px;
}

nav {
    background-color: #918f8f;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-size: 18px;
    font-family: cursive;
    text-decoration: none;
    transition: transform 0.5s ease;
}

nav ul li a:hover {
    color: #e3b3b3;
    transform: scale(1.1);
}

.section {
    padding: 100px 20px;
    text-align: center;
    transition: background-color 0.5s ease;
}

.section:nth-child(even) {
    background-color: #f7f3e8;
}

.section:nth-child(odd) {
    background-color: #e6ece4;
}

.section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    position: relative;
}

.section h2::after {
    content: '';
    width: 60px;
    height: 4px;
    background-color: #ff6347;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
}

.profile-image {
    width: 250px;
    height: 300px;
    border-radius: 10%;
    margin-top: 20px;
    transition: transform 0.5s ease;
}

.profile-image:hover {
    transform: scale(1.1);
}

.service, .project, .extracurricular {
    display: inline-block;
    width: 30%;
    margin: 10px;
    text-align: center;
    transition: transform 0.5s ease;
}

.service:hover, .project:hover, .extracurricular:hover {
    transform: scale(1.05);
}

.service img, .project img, .extracurricular img {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    border-radius: 10%;
}

.service h3{
    font-size: 20px;
    font-family: cursive;
}

.social-media {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.social-media li {
    margin: 0 10px;
}

.social-media li a {
    color: #333;
    text-decoration: none;
    font-size: 2em;
    transition: color 0.3s ease;
}

.social-media li a:hover {
    color: #ff6347;
}
